*{
    margin:0;
    padding: 0;
    text-decoration:none;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.section{
    width:100%;
}
.text_section{
    background-image:linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
}
.container{
    max-width:1300px;
    margin:auto;
    padding: 0px 15px 0px 15px;
}
.navbar_top{
    position:fixed;
    top:0;
    z-index: 1;
    background-image:linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);

}
.navbar{
    width:100%;
    padding-top: 10px;
}
.logo{
    font-size:22px;
    color:black;
    font-weight:600;
    display:inline-block;
    padding-top: 14px;
}
.logo i{
    color:orangered;
    transform: rotate(-45deg);
    letter-spacing: -26px;
    left: 0;
    position: relative;
    left: -10px;
}
.nav_items{
    margin-top: 22px;
    float:right;
}
.search {
    font-size: 18px;
}
.chaand{
    font-size: 23px;
}

.navbar_top ul > li{
    list-style-type: none;
    display:inline;
    font-size:14px;
    font-weight:600;
    padding:30px;
}

.active{
    color:red;
}
.row{
    width:100%;
}

.row1{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;

}
.text_section{
    margin-top:30px;
}
.text1{
    width:70%;
    margin-top: 150px;
}
.food_1 {
    max-width: 562px;
}
.image1{
    width:30%;
    margin-top: 120px;
    animation:rotation 10s linear infinite;
    
}
@keyframes rotation{
    from{tarnsform:rotate(0deg);}to{transform: rotate(359deg);}
}

.text1 h1{
    font-size:72px;
    font-weight:700;
    letter-spacing:-3px;
    word-spacing:-2px;
    line-height:82px;
}
.text1 h3{
    font-size: 48px;
    font-weight: 100;
    line-height: 82px;
    letter-spacing:5px;
    word-spacing:5px;
    margin-left: 4px;

}
.text1 p{
    line-height:30px;
    font-size:18px;

}
.btn{
    color:white;
    background-color:orangered;
    width: 150px;
    height:45px;
    border-radius:18px;
    border-color:orangered;
    border-style: none;
    font-size: 16px;
    font-weight:600;
    margin-top: 45px;
}
.section2{
    background-color: white;
    margin-top:60px;
}
.image_grp{
    width:50%;
    border:4px solid white;
    position: relative;
    padding:0px 12px;
    overflow: hidden;
}
.image2{
    width:45%;
    border:2px solid white;
    border-radius:8px;
}
.image3{
    position:absolute;
    right:100px;
    top:7%;
    border:5px solid white;
    border-radius:8px;
    width: 45%;
}
.text2{
    width:50%;
}
.line_1{
    font-size:28px;
    font-weight: 100;
    
}
.line_2{
    font-size:45px;
    font-weight:bold;
    line-height:55px;
}
.num{
    color:orangered;
    margin-top:50px;
}
.food_2{
    max-width: 486px;
}
.line_3{
    line-height:1.5;
    padding-top: 20px;
}
.line_4{
    padding-top:20px ;
    line-height: 1.5;
}
.signature{
    padding-top: 20px;
    line-height: 1.5;
    max-width: 100px;
}
.row2{
    width:100%;
}
.div1{
    text-align: center;
    font-size: 30px;
    display:block;
    margin-bottom: 20px;
}

.salad_images{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    margin:auto;
}
.picture{
    height:160px;
    width:160px;
    border-radius: 50%;
    margin-top:30px;
    border:8px solid white;
    background-repeat: no-repeat;
    background-size: cover;
}
.container1{
    border: 4px solid #e1c4bc26;
    padding: 10px;
    margin: 20px;
    box-shadow: 0px 0px 0px 0px;
    width: 25%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.container1:before{
    content: "";
    position: absolute;
    height: 185px;
    width: 185px;
    z-index: -1;
    background-color: rgb(0 169 90 / 44%);
    top: -24px;
    left: -26px;
    border-radius:0 50% ;
}
.container:hover .container1:before{
    background-color: orangered;
}
.container1 h3{
    font-size: 24px;
    font-weight:800;
    padding-top:22px;
}
.container1 p{
    padding-top:10px;
    font-size:15px;
    line-height: 1.5;
}
.section3{
    margin-top: 60px;
    background-image:linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
    background-image:  url(https://wp.w3layouts.com/salads/wp-content/themes/salads/assets/images/img1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: rgb(117, 216, 117);
}

.text3{
    width:70%;
    margin-top:75px;
    margin-bottom: 93px;
 }


.text3 h3{
    font-size:48px;
    font-weight:750;
    word-spacing:2;
    line-height: 1.5;

}
.textcontent{
    display:flex;
    max-width: 828px;
}
.para1{
    font-size: 16px;
    line-height:2;
    padding-top: 20px;
}
.para2{
    padding:20px 0px 0px 26px;
    font-size:16px;
    line-height:2;
}
.btn_menu{
    color:white;
    background-color:orangered;
    width: 170px;
    height:45px;
    border-radius:18px;
    border-color:orangered;
    border-style: none;
    font-size: 16px;
    font-weight:700;
    margin:40px 0px 40px 0px;
}
.boxforwrittentext{
    width:100%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boxe{
    max-width:30%;
    display:flex;
    padding: 40px;
}
.mixed_icons{
    color: orangered;
    font-size: 26px;
    padding:14px;
}
.written_text h3{
    font-size: 20px;
    font-weight: 900;
    line-height: 2;
}
.written_text p{
    max-width:241px;
    line-height: 1.5;
}
.boxe:hover .mixed_icons{
    color: rgb(171, 222, 171);
}

.boxe:hover .written_text h3{
    color: rgb(171, 222, 171);
}
.boxe:hover {
    border: 1px solid grey;
    border-radius: 10px;
}


.container_2{
    width:90%;
    margin:auto;
}
.box_1{
    height:150px;
    width:15%;
    border:1px solid black;
}
.moretext{
    width:50%;
    margin-top: 60px;
    max-width: 584px;
}
.moretext h3{
    font-size:48px;
    font-weight:750;
    word-spacing:2;
    line-height: 1.5;
}
.para3{
    font-size: 16px;
    line-height:1.5;
    padding-top: 20px;
}
.para4{
    font-size: 16px;
    padding-top: 15px;
    line-height:1.5;
}
.chefpic{
    width:30%;
    margin-bottom: -4px;

}
.text_container{
    width:50%;
    margin:auto;
}
.text_container q{
    font-size: 22px;
    font-weight: 550;
    padding-top:18px;
}
.text_container p{
    padding-top:30px;
    max-width: 434px;
    line-height:2;
    font-size:16px;
}
.names{
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
}
.lists{
    display:flex;
    color:orangered;
    font-size:14px;
    display: inline-block;
}
.lists li{
display: inline-block;
}
.galpic{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid white;
}
.text_container1{
    width:50%;
    margin:auto;
}
.text_container1 q{
    font-size: 22px;
    font-weight: 550;
    padding-top:18px;
}
.text_container1 p{
    padding-top:30px;
    max-width: 434px;
    line-height:2;
    font-size:16px;
}
.section4{
    margin-top:40px;
}
.sub_scribe{
    width:80%;
    margin:auto;
    text-align: center;
    padding-left: 40px;
}
.updates{
    font-size: 35px;
    font-weight: 800;
    word-spacing:2;
    max-width: 800px;
    margin-left: 30px;
}
.Mail_box{
    max-width: 798px;
    margin: 20px 0px 0px 80px;
}
.fname{
    width:60%;
    border:1px solid grey;
    border-right-style:solid;
    padding:12px 15px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    font-size: 16px;
    float:left;
}
 .btn_grp{
    height:44px;
    width:18%;
    color:white;
    background-color:orangered;
    border:1px solid grey;
    border-left-style: solid;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border-color:orangered;
    font-size: 16px;
    font-weight:700;
    text-align: start;
    float:left;
}
.section5 {
    padding-top: 40px;
}
 .last_text {
    max-width: 780px;
    margin-top:80px;
    display: flex;
    justify-content: space-between;
}
 .content_l{
    display: inline-block;
    max-width: 400px;
 }
 .content_l h3{  
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
 }
 .content_l p{
    padding-top:25px;
    max-width:494px;
    line-height:1.5;
}
.icon_grp{
        padding: 5px;
        margin:8px;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-color:rgb(222, 203, 203);
        border-style: none;
}
.content_l i:hover{
    background-color:orangered;
}
.content_t{
    max-width: 294px;
    margin-right:60px;
}

.content_t h3{
    font-size: 16px;
    font-weight: 600;
    line-height: 2;

}
.content_t p{
    font-size:15px;
    padding-top:25px;
    line-height:1.5;
}
p.line_5{
    padding-top: 8px;
    font-size: 14px;
    font-weight: 550;
}
.arrow{
    font-size: 14px;
    font-weight: 600;
    padding-right: 6px;
}
.section6{
    width:100%;
    background-image:linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
}
.footer{
    margin-top:10px;
    text-align: center;
}
.copyright{
    font-size: 15px;
    line-height:3;
    padding-right:30px;
}
.copyright a{
    color:black;
    font-size:14px;
    font-weight: 700;
}
a:hover{
    color: orangered;
}
img{
    width: 100%;
}
/* media query starts */
@media  (max-width: 480px) 
{.text1{
    width: 100%;
}
.text1 h1{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
}
.text1 h3{
        font-size: 38px;
        line-height: 18px;
        word-spacing: 0px;
        letter-spacing: 3px;
}
.food_1{
    margin-top: 25px;
}
.container{
    padding: 0px 15px 0px 15px;
}
.image1{
    width: 100%;
}
.image_grp{
    width:100%;
    padding-bottom: 20px;
}
.image2{
    width:60%;
}
.image3{
    width:60%;
    right:0px;
    top:16%;
}
.text2{
    width:100%;
}
.line_1{
    margin-top: 20px;
}
.line_2{
    font-size: 43px;
}
.div1 h2 {
    font-size: 36px;
}
.container1{
    width:100%;
}
.text3{
    width: 100%;
    padding: 20px;
    background-color: #ffffff9e;
    margin-top: 50px;
    margin-bottom: 50px;
}
.text3 h3 {
    font-size: 35px;
}  
.textcontent{
    display: block;
}
.text_container{
    width: 100%;
}
.moretext{
    width:100%;
}
.moretext h3{
    font-size: 37px;
}
.chefpic{
    width:100%;
}
.text_container1{
    width:100%;
}
.para2 {
    padding: 20px 0px 0px 0px;
}
.boxe{
    width:100%;
    max-width:100%;
    padding: 20px;
}
.Mail_box{
    width: 100%;
}
.sub_scribe{
    width:100%;
    padding: 0px;
}
.updates{
    font-size: 28px;
}
.Mail_box{
    margin: 0px;
    float: left;
}
.fname{
    width: 100%;
    border-radius: 18px;
    margin-bottom: 8px;
}
.btn_grp{
    width: 100%;
    border-radius: 18px;
    text-align: center;
}
.last_text{
    width: 100%;
    display: block;
}
.content_l{
    margin-top: 40px;
}
.content_l p{
    padding-top: 8px;
}
.content_t{
    margin-top: 42px;
}
.content_t p{
    padding-top: 8px;
}
.icon_grp{
    margin-top: 14px;
}
.copyright{
    width: 100%;
    padding-right: 2px;
    margin-top: 40px;
}
}

     















